.home-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background: #0A0A0A;
  color: white;
}

.home-text {
  width: 50%;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
}

.title span {
  color: #b47fff;
}

.role {
  font-size: 1.8rem;
  margin-top: 10px;
  opacity: 0.8;
}

.description {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 1.1rem;
  opacity: 0.8;
}

.buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 1rem;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}

.primary {
  background: #b47fff;
  color: white;
}

.secondary {
  border: 1px solid #b47fff;
  color: #b47fff;
}

.home-image img {
  width: 330px;
  border-radius: 50%;
  border: 3px solid #b47fff;
}

/* MOBILE */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .home-text, .home-image {
    width: 100%;
  }

  .home-image img {
    margin-top: 30px;
    width: 240px;
  }
}