.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #0a0a0a;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #b47fff;
}